.footer{
  margin: 0;
  padding: 0;

  background: black;
  color: white;

  font-family: 'Cabin', sans-serif;

  margin-top: 2rem;

  width: auto;
  }

  h5{
    margin-top: 1rem;
    text-align: center;

  }

  ul, li{
    list-style: none;
   margin-left: 1rem;
  }


li, a{
  text-decoration: none;
  color:white;
}

li, a:hover{
  color: orange;
}

.center{
  margin-left: 5rem;
}