<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 d-flex justify-content-center">
          
          <img src="../../assets/footer/logo.png" style="width: 8rem;height: 8rem; margin-top: 2rem;">
          
        </div>
        <div class="col-lg-3">
          <h5> Categorías </h5>
          <ul> 
            <li> <a href=""routerLink="/catalogo" [queryParams]="{departamento:'Comida'}"> Comida </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{departamento:'Limpieza'}"> Limpieza </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{departamento:'Juguetes'}"> Juguetes </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{departamento:'Accesorios'}"> Accesorios </a> </li>
            <li> <a href=""routerLink="/catalogo" > Productos </a> </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h5> Mascotas  </h5>
          <ul> 
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Perros'}"> Perros </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Gatos'}"> Gatos </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Aves'}"> Aves </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Peces'}"> Peces </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Mamiferos'}"> Mamíferos </a> </li>
            <li> <a href=""routerLink="/catalogo" [queryParams]="{mascota:'Reptiles'}"> Reptíles </a> </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h5> Servicio a Cliente  </h5>
          <ul> 
            <li> <a href=""routerLink='/login'> Iniciar Sesión </a> </li>
            <li> <a href=""routerLink="/register" [queryParams]="{registro: 'Registro'}"> Registrarse </a> </li>
            <li> <a href=""> Términos y Condiciones  </a> </li>
            <li> <a href=""> Rastreo de Pedidos </a> </li>
          </ul>
          <div class="center">
          <img src="../../assets/footer/twitter.png" style="width: 2rem;height: 2rem; margin: 0.3rem">
          <img src="../../assets/footer/instagram.png" style="width: 2rem;height: 2rem; margin: 0.3rem;">
          <img src="../../assets/footer/facebook.png" style="width: 2rem;height: 2rem; margin: 0.3rem;">
          </div>
        </div>

      </div>
      <div class="row bg-dark d-flex justify-content-center">
        <div style="margin: 0.5rem;">
          © Todos los derechos reservados. WonderPet 2020.
        </div>
      </div>
      
      </div>
    </footer>