<main class="container">
    <div class="row  margin">
        <div class="col-lg-4 bordes">
            <h3 class="bg-dark text-light" style="height: 3rem; padding: 0.5rem; border-radius: 0.3rem; text-align: center; margin-bottom: 1rem;"> Perfil del Usuario </h3>
           <div class="col d-flex justify-content-center">
            <img src="../../assets/images/perfil.png" style="width: 10rem; height: 10rem;">
           </div>
            
            <div class="col info "> <img src="../../assets/images/huella.png" style="width: 1rem; height: 1rem; margin-right: 0.5rem;"> Nombre: {{user.nombre}}</div>
            <div class="col info"> <img src="../../assets/images/huella.png" style="width: 1rem; height: 1rem; margin-right: 0.5rem;">Apellido Paterno: {{user.apellidoPaterno}}</div>
            <div class="col info"><img src="../../assets/images/huella.png" style="width: 1rem; height: 1rem; margin-right: 0.5rem;">Apellido Materno: {{user.apellidoMaterno}}</div>
            <div class="info"><img src="../../assets/images/huella.png" style="width: 1rem; height: 1rem; margin-right: 0.5rem;">Usuario: {{user.usuario}}</div>
            <div class="info"><img src="../../assets/images/huella.png" style="width: 1rem; height: 1rem; margin-right: 0.5rem;">Email: {{user.email}}</div> 







            <div class="info"> <button type="button" style="width: 100%;" class="btn btn-info" routerLink="/perfil" [queryParams]="{option:'DatosP'}">Datos Personales</button> </div>
            <div class="info"><button type="button"  style="width: 100%;" class="btn btn-danger" routerLink="/perfil" [queryParams]="{option:'Editar'}">Editar</button> </div>
        </div>
        <div  class="col-lg-8 border">
            <form  name="f1" style="margin-top:1rem;" [hidden]="option!==VIEWOPT.DatosP" >
                <h1 style="margin-bottom: 1rem;">Datos Personales</h1>
                <div class="col info" > Calle: {{user.calle}}</div>
                <div class="col info">Número Exterior: {{user.numExterior}}</div>
                <div class="col info">Número Interior: {{user.numInterior}}</div>
                <div class="col info">Código Postal: {{user.codigoPostal}}</div>
                <div class="col info">Colonia: {{user.colonia}}</div>
                <div class="col info">Municipio: {{user.municipio}}</div>
                <div class="col info">País: {{user.pais}}</div>
                <div class="col info">Teléfono: {{user.telefono}}</div>
                <button  type="button" style="width: 100%; margin-top: 1rem; height: 3rem;" routerLink="/perfil" [queryParams]="{option:'AgregarDatos'}"   class="btn btn-primary">Agregar</button>
            </form>
            <!--Editar datos-->
            <div class="row edit" [hidden]="option!==VIEWOPT.Editar">
                <div class="col-lg-12">
                    
                    <form name="f1" style="margin-top:1rem;" >
                        <h1 style="margin-bottom: 1rem;" >Editar Datos</h1>
                        <div class="form-group" style="width: 100%;">
                            <label for="inputEmail">Email</label>
                            <input  type="email" name="email" [(ngModel)] = "user.email"  class="form-control" id="inputEmail" placeholder="email@example.com" >     
                        </div>
                        <div class="form-group">
                            <label for="inputName">Nombre</label>
                            <input  type="text" name="nombre" [(ngModel)] = "user.nombre"  class="form-control" id="inputName" >
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputApaterno">Apellido Paterno</label>
                                    <input  type="text" name="apellidoPaterno" [(ngModel)] = "user.apellidoPaterno"  class="form-control" id="inputApaterno">
                                </div>
                                <div class="col">
                                    <label for="inputAmaterno">Apellido Materno</label>
                                    <input type="text" name="apellidoMaterno" [(ngModel)] = "user.apellidoMaterno"  class="form-control" id="inputAmaterno"  >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputCalle">Calle</label>
                            <input type="text" name="calle" [(ngModel)] = "user.calle" class="form-control" id="inputCalle">
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputNumExterior">Número Exterior</label>
                                    <input type="number" name="numExterior" [(ngModel)] = "user.numExterior" class="form-control" id="inputNumExterior">
                                </div>
                                <div class="col">
                                    <label for="inputNumInterior">Número Interior</label>
                                    <input type="number" name="numInterior" [(ngModel)] = "user.numInterior" class="form-control" id="inputNumInterior" >
                                </div>
                                <div class="col">
                                    <label for="inputCodigoPostal">Código Postal</label>
                                    <input type="number" name="codigoPostal" [(ngModel)] = "user.codigoPostal" class="form-control" id="inputCodigoPostal" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputColonia">Colonia</label>
                                    <input type="text" name="colonia" [(ngModel)] = "user.colonia" class="form-control" id="inputColonia" >
                                </div>
                                <div class="col">
                                    <label for="inputMunicipio">Municipio</label>
                                    <input type="text" name="municipio" [(ngModel)] = "user.municipio" class="form-control" id="inputMunicipio">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="inputEstado">Estado</label>
                                    <input type="text" name="estado" [(ngModel)] = "user.estado" class="form-control" id="inputEstado">
                                </div>
                                <div class="col">
                                    <label for="inputPais">País</label>
                                    <input type="text" name="pais" [(ngModel)] = "user.pais" class="form-control" id="inputPais">
                                </div>
                                <div class="col">
                                    <label for="inputTelefono">Teléfono</label>
                                    <input type="number" name="telefono" [(ngModel)] = "user.telefono" class="form-control" id="inputTelefono">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Contraseña</label>
                            <input type="password" name="password" [(ngModel)] = "user.password"  class="form-control" id="inputPassword" pattern=".{6,}" >
                        </div>
                        <button  type="submit" style="width: 100%; height: 3rem;" (click)="EditInfo();"  class="btn btn-primary">Editar</button>
        
                    </form>
                </div>
            </div>
            <!--Agregar Datos Personales-->
            <div  class="col-lg-12"  [hidden]="option!==VIEWOPT.AgregarDatos">
                <form  name="f1" style="margin-top: 1rem;">
                    <h1 style="margin-bottom:1rem;">Datos Personales</h1>
                    <div class="form-group" >
                        <label for="inputCalle">Calle</label>
                        <input type="text"  name="calle" [(ngModel)] = "user.calle" class="form-control" id="inputCalle1">
                    </div>
                    <div class="form-group" [hidden]="option!==VIEWOPT.AgregarDatos">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputNumExterior">Número Exterior</label>
                                <input type="number" name="numExterior" [(ngModel)] = "user.numExterior" class="form-control" id="inputNumExterior1" >
                            </div>
                            <div class="col">
                                <label for="inputNumInterior">Número Interior</label>
                                <input type="number" name="numInterior" [(ngModel)] = "user.numInterior" class="form-control" id="inputNumInterior1" >
                            </div>
                            <div class="col">
                                <label for="inputCodigoPostal">Código Postal</label>
                                <input type="number" name="codigoPostal" [(ngModel)] = "user.codigoPostal" class="form-control" id="inputCodigoPostal1" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputColonia">Colonia</label>
                                <input type="text" name="colonia" [(ngModel)] = "user.colonia" class="form-control" id="inputColonia1" >
                            </div>
                            <div class="col">
                                <label for="inputMunicipio">Municipio</label>
                                <input type="text" name="municipio" [(ngModel)] = "user.municipio" class="form-control" id="inputMunicipio1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="inputEstado">Estado</label>
                                <input type="text" name="estado" [(ngModel)] = "user.estado" class="form-control" id="inputEstado1">
                            </div>
                            <div class="col">
                                <label for="inputPais">País</label>
                                <input type="text" name="pais" [(ngModel)] = "user.pais" class="form-control" id="inputPais1">
                            </div>
                            <div class="col">
                                <label for="inputTelefono">Teléfono</label>
                                <input type="number" name="telefono" [(ngModel)] = "user.telefono" class="form-control" id="inputTelefono1">
                            </div>
                        </div>
                    </div>
                     <button  type="submit" (click)="AddInfo();"  style="width: 100%; margin-top: 1rem; height: 3rem;" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
            
</main>



