<main class="container" >
    <div class="container">
        <div class="row" style="margin-top: 2rem;">
           
            <div class="col-lg-6">
                <h1> Revisa tu pedido </h1>

                <div *ngIf="navCart.length == 0;"><p>Agregar contenido a tu carrito</p></div>


                <div *ngFor="let producto of navCart; index as index;">

              
                    <div class="tarjeta300 float">
                      <img src="{{producto.imagenLink}}" alt="" class="img-fluid img-thumbnail foto">
                      <span>{{producto.nombre}}</span>
                      <span class="price">${{producto.precio}}</span>

                      <div class="area-boton w100">
                        
                        <button class="mdc-button mdc-button--raised blanco texto-rojo w100" (click) = "deleteNavCart(producto.index);">               
                          <i class="material-icons mdc-icon-button__icon">delete</i>
                          <span class="mdc-button__ripple"></span> Eliminar
                        </button>
                      </div>
                      
                    </div>
                      
                </div>
    
                <!-- ALERTAS -->
    
            </div>

            <div class="col-lg-6">
                <h2> Total </h2>
    
                <p>Total a pagar:<span>${{total}}</span></p>
                <!-- ALERTAS -->
    
            </div>
        </div>
    </div>
    </main>