<main class="container">
       
    <section class="row margin0 height-auto padding10"> 

    <div class="width100">
      <div class="btn-group floatRight">
        <button type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons mdc-icon-button__icon">sort</i> {{textoOrden}} 
        </button>
        <div class="dropdown-menu">
          <button class="dropdown-item" type="button" (click) = "filtros.orden = null; cambiarRuta(); textoOrden='Nombre ascendente'">Nombre ascendente</button>
          <button class="dropdown-item" type="button" (click) = "filtros.orden = 'nd'; cambiarRuta(); textoOrden='Nombre descendente'">Nombre descendente</button>
          <button class="dropdown-item" type="button" (click) = "filtros.orden = 'pa'; cambiarRuta(); textoOrden='Precio ascendente'">Precio ascendente</button>
          <button class="dropdown-item" type="button" (click) = "filtros.orden = 'pd'; cambiarRuta(); textoOrden='Precio descendente'">Precio descendente</button>
        </div>
      </div>
    </div>
      <aside class="col-lg-2 lado content height-content borde-negro rounded marginT1rem">
                        <div class="row">
                            <div class="col-12 tam">Filtros</div>
                        </div>
                        <div id="accordion">
                            <div class="card">
                              <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Departamentos
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body padding1rem">
                                    <div class="mdc-form-field flex-columna">

                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.departamento = undefined; cambiarRuta();">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-t" name="departamentos" checked>
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Todos</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.departamento = 'Comida'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-comida" name="departamentos" >
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Comida</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.departamento = 'Limpieza'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-limpieza" name="departamentos">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                              <label for="radio-1">Limpieza</label>
                                        </div>
                                    
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.departamento = 'Accesorios'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-accesorios" name="departamentos">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Accesorios</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.departamento = 'Juguetes'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-juguetes" name="departamentos">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Juguetes</label>
                                        </div>
                                          
                                    </div>
                                      
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Mascotas
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="mdc-form-field flex-columna">

                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = undefined; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-tm" name="mascotas" checked>
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Todos</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Perros'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-perros" name="mascotas" >
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Perros</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Gatos'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-gatos" name="mascotas">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                              <label for="radio-1">Gatos</label>
                                        </div>
                                    
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Mamiferos'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-mamiferos" name="mascotas">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Mamiferos</label>
                                        </div>
                                        
                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Aves'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-aves" name="mascotas">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1"> Aves </label>
                                        </div>

                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Reptiles'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-reptiles" name="mascotas">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Reptiles</label>
                                        </div>

                                        <div class="align-left">
                                            <div class="mdc-radio" (click)="filtros.mascota = 'Peces'; cambiarRuta()">
                                                <input class="mdc-radio__native-control" type="radio" id="radio-peces" name="mascotas">
                                                <div class="mdc-radio__background">
                                                  <div class="mdc-radio__outer-circle"></div>
                                                  <div class="mdc-radio__inner-circle"></div>
                                                </div>
                                                <div class="mdc-radio__ripple"></div>
                                            </div>
                                            <label for="radio-1">Peces</label>
                                        </div>
                                          
                                    </div>
                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Precios
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">

                                    <div id="maximo" class=" p-2 dropdown inline-block">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMaximo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">       
                                          {{textoPrecios}}
                                      </button>
                                      <div class="dropdown-menu" aria-labelledby="dropdownMaximo">
                                        <button class="dropdown-item" type="button" (click) = "filtros.precios = undefined; cambiarRuta(); textoPrecios='Todo'">Todo</button>
                                        <button class="dropdown-item" type="button" (click) = "filtros.precios = '1'; cambiarRuta(); textoPrecios='$1-$199'">$1-$199</button>
                                        <button class="dropdown-item" type="button" (click) = "filtros.precios = '200'; cambiarRuta(); textoPrecios='$200-$499'">$200-$499</button>
                                        <button class="dropdown-item" type="button" (click) = "filtros.precios = '500'; cambiarRuta(); textoPrecios='$500-$999'">$500-$999</button>
                                        <button class="dropdown-item" type="button" (click) = "filtros.precios = '1000'; cambiarRuta(); textoPrecios='$1000+'">$1000+</button>
                                      </div>
                                    </div>
                                    
                                </div>
                              </div>
                            </div>
                          </div>                            
      </aside>

      <main class="col-lg-10 padding1rem">
           
        <div *ngFor="let producto of productos;">
          <div class="mdc-card tarjeta float">
            <div class="mdc-card__primary-action" tabindex="0">
            <div class="mdc-card__media mdc-card__media--square" style="background-image: url({{producto.imagenLink}});"></div>
              <div class="pieDeTarjeta">
                <h1 class="producto-nombre">{{producto.nombre}}</h1>
                <div class="mdc-typography mdc-typography--body2 center price">${{producto.precio}}</div>
              </div>
            </div>
            <div class="mdc-typography mdc-typography--subtitle2 texto">{{producto.descripcion}}</div>
            <div class="area-boton">
              <button class="mdc-button mdc-button--raised rojo flex-center">               
                <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                <span class="mdc-button__ripple"></span> Agregar
              </button>
            </div>
          </div>
        </div>
      </main>

    </section>
    
</main>