
<!-- <main  class="container ">
   <div class="row edit" [hidden]="option!==VIEWOPT.Editar">
    <div class="col-lg-4"></div>
    <div class="col-lg-8 align-left">
    <h1>Editar Datos</h1>
    
    <form name="f1" >
        <div class="form-group">
            <label for="inputUsuario">Usuario</label>
            <input  type="text" name="usuario" [(ngModel)] = "user.usuario"  class="form-control" id="inputUsuario" > 
        </div>
        
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input  type="email" name="email" [(ngModel)] = "user.email"  class="form-control" id="inputEmail" placeholder="email@example.com" >     
        </div>
        <div class="form-group">
            <label for="inputName">Nombre</label>
            <input  type="text" name="nombre" [(ngModel)] = "user.nombre"  class="form-control" id="inputName" >
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="inputApaterno">Apellido Paterno</label>
                    <input  type="text" name="apellidoPaterno" [(ngModel)] = "user.apellidoPaterno"  class="form-control" id="inputApaterno">
                </div>
                <div class="col">
                    <label for="inputAmaterno">Apellido Materno</label>
                    <input  type="text" name="apellidoMaterno" [(ngModel)] = "user.apellidoMaterno"  class="form-control" id="inputAmaterno"  >
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCalle">Calle</label>
            <input type="text" name="calle" [(ngModel)] = "user.calle" class="form-control" id="inputCalle">
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="inputNumExterior">Número Exterior</label>
                    <input type="number" name="numExterior" [(ngModel)] = "user.numExterior" class="form-control" id="inputNumExterior">
                </div>
                <div class="col">
                    <label for="inputNumInterior">Número Interior</label>
                    <input type="number" name="numInterior" [(ngModel)] = "user.numInterior" class="form-control" id="inputNumInterior" >
                </div>
                <div class="col">
                    <label for="inputCodigoPostal">Código Postal</label>
                    <input type="number" name="codigoPostal" [(ngModel)] = "user.codigoPostal" class="form-control" id="inputCodigoPostal" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="inputColonia">Colonia</label>
                    <input type="text" name="colonia" [(ngModel)] = "user.colonia" class="form-control" id="inputColonia" >
                </div>
                <div class="col">
                    <label for="inputMunicipio">Municipio</label>
                    <input type="text" name="municipio" [(ngModel)] = "user.municipio" class="form-control" id="inputMunicipio">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <label for="inputEstado">Estado</label>
                    <input type="text" name="estado" [(ngModel)] = "user.estado" class="form-control" id="inputEstado">
                </div>
                <div class="col">
                    <label for="inputPais">País</label>
                    <input type="text" name="pais" [(ngModel)] = "user.pais" class="form-control" id="inputPais">
                </div>
                <div class="col">
                    <label for="inputTelefono">Teléfono</label>
                    <input type="number" name="telefono" [(ngModel)] = "user.telefono" class="form-control" id="inputTelefono">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" [(ngModel)] = "user.password"  class="form-control" id="inputPassword" pattern=".{6,}" >
        </div>
        
        <button  type="submit" (click)="EditInfo();"  class="btn btn-primary">Editar</button>

    </form>
</div>
</div> -->
 <!-- Agregar -->
 

<!-- 
</main> -->


