html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%; 
}
* {
  box-sizing: border-box; 
}




.padleft {
  padding-left: 25rem;
}

.tarjeta300 {
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: wheat;
  margin: 0.3rem;
}

.foto{
  align-self: flex-start;
  max-width: 30%;
  display: inline;
}

.blanco{
  background-color: white !important;
}

.texto-rojo{
  color: red !important;
}

.area-boton{
  width: 100%;
  align-self: center;
}

.flex-center{
  align-items: center;
  flex: auto;
}

.w100{
  width: 100%;
}

.brand-font{
  font-family: 'Cabin', sans-serif;
}

.form-control{
  margin-left: 8rem;
  width: 30rem;
}
.tcenter{
  text-align: center;
}


