<nav class="navbar navbar-expand-lg navbar-light bg-light brand-font">
    <a class="navbar-brand" routerLink="/admin" h1>
      <img src="../../assets/navbar/brand.png" width="50px" height="50px" style="margin-left: 3rem;"> 
      WONDER PET 
      </a>
     
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

	<!-- SEARCH-->
	<div class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar..." aria-label="Search" (input)="busqueda.nombre = $event.target.value">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink= "/catalogo" [queryParams]=busqueda>Search</button>
     	 </div>
  <!-- FIN -->
  
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a href="" class="nav-link" routerLink="/main" style="margin-top: 0.6rem;"> Home</a>
        </li>
        <div *ngIf="(session.valid === true); else noUser">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.nombre}}
              <img src="../../assets/navbar/micuenta.png" style="width: 2rem; height: 2rem; margin-bottom: 1rem;">
            </a>
            <div class="dropdown-menu tcenter" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/perfil" routerLinkActive="active"> Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/" (click) = "logOut();"> Cerrar sesion</a>
            </div>
          </li>
        </div>
            
        <ng-template #noUser>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Mi Cuenta <img src="../../assets/navbar/micuenta.png" style="width: 2rem; height: 2rem; margin-bottom: 1rem;">
                </a>
                <div class="dropdown-menu tcenter" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/login" routerLinkActive="active"> Iniciar Sesión </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/register" [queryParams]="{registro: 'Registro'}"> Registrarse</a>
                </div>
              </li>
            </ng-template> 


        

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 0.5rem;"  (click) = "actualizarCarrito();"> Compras
             <img src="../../assets/navbar/shopcart.png" style="width:2rem;height:2rem;"> </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <div *ngFor="let producto of navCart; index as index;">

              
              <div class="tarjeta300 float">
                <img src="{{producto.imagenLink}}" alt="" class="img-fluid img-thumbnail foto">
                <span>{{producto.nombre}}</span>
                <div class="area-boton w100">
                  
                  <button class="mdc-button mdc-button--raised blanco texto-rojo w100" (click) = "deleteNavCart(producto.index);">               
                    <i class="material-icons mdc-icon-button__icon">delete</i>
                    <span class="mdc-button__ripple"></span> Eliminar
                  </button>
                </div>
                
                  <!--
                  <div class="pieDeTarjeta">
                    <div class="mdc-typography mdc-typography--body2 center price">${{producto.precio}}</div>
                  </div>
                  <div class="mdc-typography mdc-typography--subtitle2 overflow-hidden texto">{{producto.descripcion}}</div>
                </div>
                
                -->
              </div>
             
            </div>

            <div *ngIf="(navCart === undefined || navCart.length == 0); else elseBlock"><p>Agregar contenido a tu carrito :)</p></div>
            <ng-template #elseBlock>
              <button type="button" class="btn btn-primary" routerLink="/checkout">Finalizar pedido</button>
            </ng-template> 
      
              

          </div>
        </li>

      </ul>
    </div>
  </nav>