<main class="container">

    <!-- <header class="portada row margin0">
        <div class="col-5"><img class="img-fluid" alt="comida" src="../../assets/images/food.png" alt="" class="imagen"></div>
        <div class="col-7"><h1 class="titulo">Comida</h1></div>
    </header>  -->
    <!-- <a (click)="CurrentView = VIEWSEC.Perros" >Perros</a>
    <a (click)="CurrentView = VIEWSEC.Gatos">Gatos</a>
    <a (click)="CurrentView = VIEWSEC.Mamiferos">Mamíferos</a>
    <a (click)="CurrentView = VIEWSEC.Aves">Aves</a>
    <a (click)="CurrentView = VIEWSEC.Reptiles">Reptiles</a>
    <a (click)="CurrentView = VIEWSEC.Peces">Peces</a>
    <div [hidden]="CurrentView !== VIEWSEC.Perros">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="Perros" src="../../assets/images/perros.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Perros</h1></div>
        </header>
    </div>

    <div [hidden]="CurrentView !== VIEWSEC.Gatos">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="Gatos" src="../../assets/images/gatos.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Gatos</h1></div>
        </header>
    </div>
    <div [hidden]="CurrentView !== VIEWSEC.Mamiferos">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="mamíferos" src="../../assets/images/conejo.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Mamíferos</h1></div>
        </header>
    </div>
    <div [hidden]="CurrentView !== VIEWSEC.Aves">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="aves" src="../../assets/images/pajaros.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Aves</h1></div>
        </header>
    </div>
    <div [hidden]="CurrentView !== VIEWSEC.Reptiles">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="reptiles" src="../../assets/images/lagarto.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Reptiles</h1></div>
        </header>
    </div>
    <div [hidden]="CurrentView !== VIEWSEC.Peces">
        <header class="portada row margin0">
            <div class="col-5"><img class="img-fluid" alt="peces" src="../../assets/images/peces1.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Peces</h1></div>
        </header>
    </div> -->
    
 <header class="portada row margin0">
        <div class="col-5"><img class="img-fluid" alt="Perros" src="../../assets/images/perros.png" alt="" class="imagen"></div>
        <div class="col-7"><h1 class="titulo">Perros</h1></div>
    </header>
      
     

    <section class="row margin0 height-auto padding10"> 

        <aside class="col-lg-2 lado content borde-negro">
                <div class="row">
                    <div class="col-12 tam">Productos más vendidos</div>
                </div>
                <div class="row">
                    <div class="contenedor">
                        <ul>
                        <li><img src="../../assets/images/comidaperro.png" alt=""></li>
                        <li><img src="../../assets/images/casa.png" alt=""></li>
                        <li><img src="../../assets/images/comidagato.png" alt=""></li>
                        <li><img src="../../assets/images/pecera.png" alt=""></li>
                        </ul>
                    </div>
                </div>
        </aside>

        <section class="borde-negro col-lg-10 areacat padding0 px-2">
                <div class="row mar">
                    <div class="col-12 titulo2">Categoria</div>
                </div>
                <div class="row mar height-auto">
                    <div class="col-6 col-md-4 col-lg-3 catesize">
                        <div class="div-img row margin0 padding0" >
                          <img class="img col-12" src="../../assets/images/baño.png" >
                          <div class="text col-12">Limpieza</div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 catesize">
                        <div class="div-img row margin0 padding0" >
                          <img class="img col-12" src="../../assets/images/food1.png" >
                          <div class="text col-12">Comida</div>
                        </div>
                    </div> 
                    <div class="col-6 col-md-4 col-lg-3 catesize">
                        <div class="div-img row margin0 padding0" >
                          <img class="img col-12 margin0 padding0" src="../../assets/images/juguetes.png" >
                          <div class="text col-12">Juguetes</div>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 catesize">
                        <div class="div-img row margin0 padding0" >
                            <img class="img col-12 margin0 padding0" src="../../assets/images/accesorios.png" >
                            <div class="text col-12">Accesorios</div>
                        </div>
                    </div>
            </div>
        </section>
</section>
</main>