<header class="portada row margin0">
    <div class="col-5"><img class="img-fluid" alt="comida" src="../../assets/images/food.png" alt="" class="imagen"></div>
    <div class="col-7"><h1 class="titulo">Comida</h1></div>
</header>  

<section class="row margin0 height-auto padding10"> 

            <aside class="col-lg-2 lado content borde-negro">
                    <div class="row">
                        <div class="col-12 tam">Productos más vendidos</div>
                    </div>
                    <div class="row">
                        <div class="contenedor">
                            <ul>
                            <li><img src="../../assets/images/comidaperro.png" alt=""></li>
                            <li><img src="../../assets/images/casa.png" alt=""></li>
                            <li><img src="../../assets/images/comidagato.png" alt=""></li>
                            <li><img src="../../assets/images/pecera.png" alt=""></li>
                            </ul>
                        </div>
                    </div>
            </aside>
            <section class="borde-negro col-lg-10 areacat padding0 px-2">
                <div class="row mar">
                    <div class="col-12 titulo2">Mascotas</div>
                </div>
                <div class="row mar height-auto">
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/dog.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Perros</a></div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/cat.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Gatos</a></div>
                    </div>
                </div>
                <div class="row mar height-auto">
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/hamster.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Mamíferos</a></div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/pajaro.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Aves</a></div>
                    </div>
                </div>
                <div class="row mar height-auto">
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/lagarto.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Reptiles</a></div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img class=" petsize" src="../../assets/images/peces.png" >
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <div class="petboton petsnames"><a href="#">Peces</a></div>
                    </div>
                </div>
    

            </section>
</section>