html, body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%; 
    
}

* {
    box-sizing: border-box; 
}
label[for=radio-1]
{
margin-left: 30px;
}
label[for=checkbox-1]
{
margin-left: 30px;
margin-top: 30px;
}

.margin0{
    margin: 0px;
}

.marginRem{
    margin: 1rem
}

.portada{
    width: 100%;
    height: auto;
    padding: 0;
    border: .1rem solid black;
    margin-bottom: 1rem;
}
.imagen{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
    position: absolute;
    border: .1rem solid black;
}

.width100{
    width: 100%;
}
.orden{
    align-items: flex-end;
}
.titulo{
    font-size: 10vw;
    padding: 0;
    margin:2rem;
    text-align: left;
}
.lado{
    padding: 0;
    height: auto;
}

.mar{
    margin: 2rem;
}

.tam{
    font-size: 1.5rem;
    text-align: center;
}


/*Lo mas vendido*/
.contenedor{
    width: 100px;
    margin:auto;
    overflow: hidden;
    margin-top: 3rem;
}
.contenedor ul{
    padding: 0;
    width: 400px;
    display: flex;
    animation: slide  20s infinite alternate;
}

.contenedor ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.contenedor li{
    width:100% ;
    list-style: none;
}

.contenedor img{
    width: 100%;
    height: 100%;

}

.borde-negro{
    border: .1rem solid black;
    margin-bottom: 1rem;
}


@keyframes slide{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}

    25% { margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left:-300%;}
    100%{ margin-left: -300%;}
}

/*Ctegorias*/
.areacat{
    height: 90%;

}
.titulo2{
    font-size: 3rem;
    padding: 0;
    text-align: center;
    margin: 1rem;
}

.foto{
    width: 100%;
    height: auto;
}

.catesize{
    width: 10rem;
    height: auto;
    border-radius: 100%;
    position: inherit;
    margin: auto;
    padding: 0;
}
.div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10rem;
    width: 10rem;
    margin-bottom: 1rem;
  }

.div-img .img  {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: .1rem solid black; 
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    height: 10rem;
    padding: 0;
    

  }
  .div-img .text {
    padding-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
    padding: 0;
  }
  .div-img:hover .img {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .div-img:hover .text {
    transform: translate(0px, -20px);
    opacity: 1;
  }
  .espacio1{
      margin-left: 13rem; 
  }
  .espacio2{
      margin-left: 26rem;
  }
  .espacio3{
      margin-left: 39rem;
  }

/*Responsive*/

.height-auto{
    height: auto;
}

.height-content{
    height: fit-content;
}

.padding5{
    padding: 5px;
}

.padding0{
    padding: 0px;
}

.padding1rem{
    padding: 1rem;
}

.marginT1rem{
    margin-top: 1rem;
}

.tarjeta {
    width: auto;
    height: fit-content;
    max-width: 200px;
    height: 30rem;
    margin: 0.3rem;
    background-color: wheat;
    overflow: auto;
}

.float{
    float: left;
    margin-right: 0.5rem;
}

.floatRight{
    float: right;
}

.producto-nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 0.5rem;
}

.center{
    text-align: center;
}

.price{
    font-weight: bold;
    font-size: x-large;
    padding: 0.5rem;
}

.texto{
    padding: 0.2rem;
    overflow: auto;
    height: 10rem;
}

.pieDeTarjeta{
    height: fit-content;
    overflow: auto;
    height: 15rem;
}

.area-boton{
    width: 85%;
    display: flex;
    padding: 1rem;
    height: 5rem;
}

.verde{
    background-color: #2e7d32 !important;
}

.rojo{
    background-color: firebrick !important;
}

.amarillo{
    background-color: #cabf45    !important    ;
}
.flex-center{
    align-items: center;
    flex: auto;
}

.rounded{
    border-radius: 100%;
}

.flex-columna{
    display: flex;
    flex-direction: column;
}

.align-left{
    align-self: baseline;
    flex: auto;
}