html, body{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%; 
}

* {
    box-sizing: border-box; 
}

.imagenTabla{
    max-width: 25%;
}

label{
    padding-left: 3rem;
}


.marginRem{
    margin: 2rem;
}

.center{
    text-align: center;
}

.price{
    font-weight: bold;
    font-size: x-large;
    padding: 0.5rem;
}

.price-horizontal{
    font-weight: bold;
    font-size: x-large;
    padding: 0.7rem;
}

.verde{
    background-color: #2e7d32 !important;
}

.rojo{
    background-color: firebrick !important;
}

.blanco{
    background-color: white !important;
}

.texto-rojo{
    color: red !important;
}

.texto-azul{
    color: blue !important;
}

.texto-verde{
    color: green !important;
}

.texto-amarillo{
    color: darkgoldenrod !important;
}

.borde-rojo{
    border-color: red !important;
}

.amarillo{
    background-color: #cabf45    !important    ;
}

.producto-nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin: 1rem;
}

.texto{
    padding: 0rem;
    overflow-x: hidden;
    height: auto;
    white-space: normal;
    position: absolute;
    height: auto;

}

.inline{
    display: inline;
}

.w100{
    width: 100%;
}

.inline-block{
    display: inline-block;
}

.block{
    display: block;
    margin-top: 1rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.flex-columna{
    display: flex;
    flex-direction: column;
}

.float{
    float: left;
    margin-right: 0.5rem;
}

.right{
    float: right;
}

.flex-start{
    align-self: flex-start;
}

.flex-end{
    align-self: flex-end;
}

.boton-horizontal{
    margin: 0.3rem;
}

.descripcion{
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}

.foto{
    width: 100%;
    height: auto;
    display: block;
}

.hidden{
    overflow: auto;
}

