 <div class ="marginRem">
    <button class="mdc-button mdc-button--raised blanco texto-amarillo" data-toggle="dropdown">               
      <i class="material-icons mdc-icon-button__icon">add</i>
      <span class="mdc-button__ripple"></span> Agregar
    </button>
    <div class="dropdown-menu">
        <div class="form-group">
          <label for="nombre">Nombre del producto</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción del producto</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripcion">
        </div>
        <div class="form-group">
          <label for="precio">Precio del producto</label>
          <input type="number" class="form-control" id="precio" placeholder="$">
        </div>
        <button class="btn btn-primary">Agregar</button>
      </div>
    


    <label for="departamentos">Departamentos:</label>
    <div id="departamentos" class=" p-2 dropdown inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>

      <div class="mdc-data-table block">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
          <thead>
            <tr class="mdc-data-table__header-row">
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Id</th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric center" role="columnheader" scope="col">Imagen</th>
              <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Nombre</th>
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Operaciones</th>
            </tr>
          </thead>
          <tbody class="mdc-data-table__content">
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">1</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--image center">
                  <img src="https://img.grouponcdn.com/deal/z36av8C8krtLYz5TreC6HyHFj3z/z3-700x420/v1/sc600x600.jpg" alt="Frozen Yogurt">
              </td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">Frozen yogurt</td>
              <td class="mdc-data-table__cell">

                <button class="mdc-button mdc-button--raised blanco texto-verde">               
                    <i class="material-icons mdc-icon-button__icon">visibility</i>
                    <span class="mdc-button__ripple"></span> Ver
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-azul">               
                    <i class="material-icons mdc-icon-button__icon">edit</i>
                    <span class="mdc-button__ripple"></span> Editar
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-rojo">               
                    <i class="material-icons mdc-icon-button__icon">delete</i>
                    <span class="mdc-button__ripple"></span> Eliminar
                </button>

              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">2</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric center">
                  <img src="https://http2.mlstatic.com/liofilizado-astronauta-de-alimentos-ice-cream-sandwich-la-n-D_NQ_NP_914105-MLM31989148824_082019-F.jpg" alt="Ice Cream Sandwich">
              </td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">Ice cream sandwich</td>
              <td class="mdc-data-table__cell">

                <button class="mdc-button mdc-button--raised blanco texto-verde">               
                    <i class="material-icons mdc-icon-button__icon">visibility</i>
                    <span class="mdc-button__ripple"></span> Ver
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-azul">               
                    <i class="material-icons mdc-icon-button__icon">edit</i>
                    <span class="mdc-button__ripple"></span> Editar
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-rojo">               
                    <i class="material-icons mdc-icon-button__icon">delete</i>
                    <span class="mdc-button__ripple"></span> Eliminar
                </button>

              </td>
            </tr>
            <tr class="mdc-data-table__row">
              <td class="mdc-data-table__cell">3</td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric center">
                  <img src="https://www.handletheheat.com/wp-content/uploads/2014/09/How-to-Make-Eclairs-SQUARE.jpg" alt="Eclair">
              </td>
              <td class="mdc-data-table__cell mdc-data-table__cell--numeric">Eclair</td>
              <td class="mdc-data-table__cell">

                <button class="mdc-button mdc-button--raised blanco texto-verde">               
                    <i class="material-icons mdc-icon-button__icon">visibility</i>
                    <span class="mdc-button__ripple"></span> Ver
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-azul">               
                    <i class="material-icons mdc-icon-button__icon">edit</i>
                    <span class="mdc-button__ripple"></span> Editar
                </button>

                <button class="mdc-button mdc-button--raised blanco texto-rojo">               
                    <i class="material-icons mdc-icon-button__icon">delete</i>
                    <span class="mdc-button__ripple"></span> Eliminar
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>