<div class="mdc-card tarjeta float">
        <div class="mdc-card__primary-action" tabindex="0">
          <div class="mdc-card__media mdc-card__media--square" style="background-image: url(&quot;https://maskota.com.mx/media/catalog/product/p/e/petsy-peba656a-aaaaaa-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&quot;);"></div>
          <div>
            <h1 class="producto-nombre">Bayer - Asuntol Jabón Antipulgas</h1>
            <div class="mdc-typography mdc-typography--body2 center price">$80</div>
          </div>
        </div>
        <p class="mdc-typography mdc-typography--subtitle2 texto">
            Cada barra de Asuntol jabón contiene 1% de coumaphos, aceites esenciales y perfume.
            Barra de 100 g. De aplicación tópica.
        </p>
        <div class="area-boton">
            <button class="mdc-button mdc-button--raised rojo flex-center">               
                <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                <span class="mdc-button__ripple"></span> Agregar
            </button>
        </div>
    </div>

    <div class="mdc-card tarjeta300 float">
        <div class="mdc-card__primary-action" tabindex="0">
          <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(&quot;https://maskota.com.mx/media/catalog/product/p/e/petsy-peba656a-aaaaaa-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&quot;);"></div>
          <div class="demo-card__primary">
            <h1 class="producto-nombre">Bayer - Asuntol Jabón Antipulgas</h1>
            <div class="demo-card__secondary mdc-typography mdc-typography--body2 center price">$80</div>
          </div>
        </div>
        <p class="demo-card__subtitle mdc-typography mdc-typography--subtitle2 texto">
            Cada barra de Asuntol jabón contiene 1% de coumaphos, aceites esenciales y perfume.
            Barra de 100 g. De aplicación tópica.
        </p>
        <div class="area-boton">
            <button class="mdc-button mdc-button--unelevated verde flex-center">               
                <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                <span class="mdc-button__ripple"></span> Agregar
            </button>
        </div>
    </div>

    <div class="mdc-card tarjeta300 float">
        <div class="flex mdc-card__primary-action">
            <div class="mdc-card__media mdc-card__media--square foto-horizontal" style="background-image: url(&quot;https://maskota.com.mx/media/catalog/product/p/e/petsy-peba656a-aaaaaa-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&quot;);"></div>
            <div>
                <h1 class="producto-nombre">Bayer - Asuntol Jabón Antipulgas</h1>
            </div>
        </div>
        <div class="w100">
            <div class="boton-horizontal float">
                <button class="mdc-button mdc-button--unelevated amarillo flex-center">               
                    <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                    <span class="mdc-button__ripple"></span> Agregar
                </button>
            </div>
            <div class="mdc-typography mdc-typography--body2 center price-horizontal">$80</div>
        </div>   
    </div>

    <div class="mdc-card tarjeta300 float">
        <div class="flex mdc-card__primary-action">
            <div class="mdc-card__media mdc-card__media--square foto-horizontal100" style="background-image: url(&quot;https://maskota.com.mx/media/catalog/product/p/e/petsy-peba656a-aaaaaa-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&quot;);"></div>
            <div class="flex-columna">
                <h1 class="producto-nombre">Bayer - Asuntol Jabón Antipulgas</h1>
                <div class="mdc-typography mdc-typography--body2 center price">$80</div>

            </div>
        </div>
        <div class="w100">
            <div class="boton-horizontal center">
                <button class="mdc-button mdc-button--unelevated flex-center">               
                    <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                    <span class="mdc-button__ripple"></span> Agregar
                </button>
            </div>
        </div>   
    </div>

    <div class="mdc-card tarjeta float">
        <div class="mdc-card__primary-action" tabindex="0">
          <div class="mdc-card__media mdc-card__media--square" style="background-image: url(&quot;https://maskota.com.mx/media/catalog/product/p/e/petsy-peba656a-aaaaaa-1.jpg?quality=80&bg-color=255,255,255&fit=bounds&height=700&width=700&quot;);"></div>
          <div>
            <h1 class="producto-nombre">Bayer - Asuntol Jabón Antipulgas</h1>
            <div class="mdc-typography mdc-typography--body2 center price">$80</div>
          </div>
        </div>
        <div class="boton-horizontal center">
            <button class="mdc-button mdc-button--unelevated rojo flex-center">               
                <i class="material-icons mdc-icon-button__icon">add_shopping_cart</i>
                <span class="mdc-button__ripple"></span> Agregar
            </button>
        </div>
    </div>