.portada{
    width: 100%;
    height: auto;
    padding: 0; 
    margin: 0;
    border-radius: 0.5rem;
    margin-top: 1rem;   
    margin-bottom: 1rem;
}

.imagen{
    width: 12rem;
    height: 12rem;
 }

 .titulo{
    font-size: 7vw;
    padding: 0;
    margin-left: 2rem;
    margin-top: 3rem;
    text-align: left;
    color: aliceblue;
}

.btn{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}













.headerimg{
    width: 5rem;
    height: 5rem;
    margin-left: 23rem; 
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
}
.headertitulo{
   color: white;
   font-family: 'Cabin', sans-serif;
   font-size: 3rem;
   margin-top: 1.5rem;
}
.newtitle{
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






.lado{
    padding: 0;
    height: auto;
}



.tam{
    font-size: 1.5rem;
    text-align: center;
}




/*Lo mas vendido*/
.contenedor{
    width: 100px;
    margin:auto;
    overflow: hidden;
    margin-top: 3rem;
}
.contenedor ul{
    padding: 0;
    width: 400px;
    display: flex;
    animation: slide  20s infinite alternate;
}

.contenedor ul:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.contenedor li{
    width:100% ;
    list-style: none;
}

.contenedor img{
    width: 100%;
    height: 100%;

}

.borde-negro{
    border: .1rem solid black;
    margin-bottom: 1rem;
}


@keyframes slide{
    0% { margin-left: 0%;}
    20% { margin-left: 0%;}

    25% { margin-left: -100%;}
    45%{ margin-left: -100%;}

    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    75%{ margin-left:-300%;}
    100%{ margin-left: -300%;}
}
.petsize{
    width: 8rem;
    height: 8rem;
}
.petboton{
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    border: .1rem solid black;
    position: inherit;
    margin: auto;
    margin-right: 0;
    padding: 0;
    
}
.petsnames{
    font-size: 2rem;
    padding: 0;
    text-align: center;  
    position: absolute;
}

.areacat{
    height: 90%;

}
.titulo2{
    font-size: 3rem;
    padding: 0;
    text-align: center;
    margin: 1rem;
    color: white;
    border-radius: 0.5rem;
}
/*Responsive*/

.height-auto{
    height: auto;
}

.padding5{
    padding: 5px;
}

.padding0{
    padding: 0px;
}


.yellow{background-color: yellow;}
.green{background-color: greenyellow;}
.orange{background-color: orange;}
.red{background-color: lightcoral;}
.blue{background-color:lightskyblue;}
.purple{background-color: plum;}

