<main class="container">

    <!-- INICIO TITULO DE LAS SECCIONES-->
    <div [hidden]="seccion !== VIEWS.Comida">
        <header class="row bg-dark" style="margin-bottom: 1rem; margin-top: 0.5rem;">
            <!-- IMAGEN -->
            <div class="col-lg-5"><img src="../../assets/sections/pet-food.png" class="headerimg"></div>
            <!-- TITULO DE LA SECCION-->
            <div class="col-lg-7"> <h1 class="headertitulo">ALIMENTO</h1> </div>
        </header>

        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Alimento
            </span>
        </div>
    </div>


    <div [hidden]="seccion !== VIEWS.Limpieza">
        <header class="row bg-dark" style="margin-bottom: 1rem; margin-top: 0.5rem;">
            <!-- IMAGEN -->
            <div class="col-lg-5"><img src="../../assets/sections/clean.png" class="headerimg"></div>
            <!-- TITULO DE LA SECCION-->
            <div class="col-lg-7"> <h1 class="headertitulo">LIMPIEZA</h1> </div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Limpieza
            </span>
        </div>
    </div>




    <div [hidden]="seccion !== VIEWS.Juguetes">
        <header class="row bg-dark" style="margin-bottom: 1rem; margin-top: 0.5rem;">
            <!-- IMAGEN -->
            <div class="col-lg-5"><img src="../../assets/sections/toys.png" class="headerimg"></div>
            <!-- TITULO DE LA SECCION-->
            <div class="col-lg-7"> <h1 class="headertitulo">JUGUETES</h1> </div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Juguetes 
            </span>
        </div>
    </div>
    <div [hidden]="seccion !== VIEWS.Accesorios">
        <header class="row bg-dark" style="margin-bottom: 1rem; margin-top: 0.5rem;">
            <!-- IMAGEN -->
            <div class="col-lg-5"><img src="../../assets/sections/accesories.png" class="headerimg"></div>
            <!-- TITULO DE LA SECCION-->
            <div class="col-lg-7"> <h1 class="headertitulo">ACCESORIOS</h1> </div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Accesorios
            </span>
        </div>
    </div>

    <!-- FIN TITULOS DE LAS SECCIONES-->

    <section class="row margin0 height-auto padding10"> 
    
        <aside class="col-lg-2 lado content borde-negro">
                <div class="row">
                    <div class="col-12 tam">Productos más vendidos</div>
                </div>
                <div class="row">
                    <div class="contenedor">
                        <ul>
                        <li><img src="../../assets/images/comidaperro.png" alt=""></li>
                        <li><img src="../../assets/images/casa.png" alt=""></li>
                        <li><img src="../../assets/images/comidagato.png" alt=""></li>
                        <li><img src="../../assets/images/pecera.png" alt=""></li>
                        </ul>
                    </div>
                </div>
        </aside>
        <section class="borde-negro col-lg-10 areacat padding0 px-2">
            <div class="row mar">
                <div class="col-12 titulo2">Mascotas</div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3">
                    <img class=" petsize" src="../../assets/images/dog.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Perros'}">
                    <div class="petboton petsnames">Perros</div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <img class=" petsize" src="../../assets/images/cat.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Gatos'}">
                    <div class="petboton petsnames">Gatos</div>
                </div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3">
                    <img class=" petsize" src="../../assets/images/hamster.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Mamiferos'}">
                    <div class="petboton petsnames">Mamíferos</div>
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <img class=" petsize" src="../../assets/images/pajaro.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Aves'}">
                    <div class="petboton petsnames">Aves</div>
                </div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3">
                    <img class=" petsize" src="../../assets/images/lagarto.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Reptiles'}">
                    <div class="petboton petsnames">Reptiles</div>
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <img class=" petsize" src="../../assets/images/peces.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Peces'}">
                    <div class="petboton petsnames">Peces</div>
                </div>
            </div>
    
    
        </section>
    </section>
        

