<main class="container">

    <!-- INICIO TITULO DE LAS SECCIONES-->
    <div [hidden]="seccion !== VIEWS.Comida">
        <header class="portada row bg-dark">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Gatos" src="../../assets/sections/pet-food.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo"> Alimento </h1></div>
        </header>

        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Alimento
            </span>
        </div>
    </div>


    <div [hidden]="seccion !== VIEWS.Limpieza">
        <header class="portada row bg-dark">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Gatos" src="../../assets/sections/clean.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo"> Limpieza </h1></div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Limpieza
            </span>
        </div>
    </div>




    <div [hidden]="seccion !== VIEWS.Juguetes">
        <header class="portada row bg-dark">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Gatos" src="../../assets/sections/toys.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo"> Juguetes  </h1></div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Juguetes 
            </span>
        </div>
    </div>
    <div [hidden]="seccion !== VIEWS.Accesorios">
        <header class="portada row bg-dark">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Gatos" src="../../assets/sections/accesories.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo"> Accesorios </h1></div>
        </header>
        <div>
            <span> 
                <a routerLinkActive="#"> Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"></a> Accesorios
            </span>
        </div>
    </div>

    <!-- FIN TITULOS DE LAS SECCIONES-->

    <section class="row margin0 height-auto padding10"> 
    
        <aside class="col-lg-2 lado content">
            <div class="row bg-info" style="height: 20%; border-radius: 0.5rem; margin-right: 0.5rem; margin-left: 1rem; margin-top: 1rem;" >
                <div class="col-12 newtitle"> ¡Mas Vendidos! </div>
            </div>
                <div class="row">
                    <div class="contenedor">
                        <ul>
                        <li><img src="../../assets/images/comidaperro.png" alt=""></li>
                        <li><img src="../../assets/images/casa.png" alt=""></li>
                        <li><img src="../../assets/images/comidagato.png" alt=""></li>
                        <li><img src="../../assets/images/pecera.png" alt=""></li>
                        </ul>
                    </div>
                </div>
        </aside>
        <section class="col-lg-10 bg-light" style="border-radius: 1rem;">
            <div class="row mar">
                <div class="col-12 titulo2 bg-dark">Mascotas</div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                    <img class=" petsize" src="../../assets/main/dog.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <button type="button" class="btn yellow" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Perros'}"> Perros </button>
                </div>
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                    <img class=" petsize" src="../../assets/main/cat.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3">
                    <button type="button" class="btn green" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Gatos'}"> Gatos </button>
                </div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                    <img class=" petsize" src="../../assets/main/hamster.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <button type="button" class="btn red" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Mamiferos'}"> Mamíferos </button>
                </div>
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center" >
                    <img class=" petsize" src="../../assets/main/parrot.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <button type="button" class="btn blue" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Aves'}"> Aves </button>
                </div>
            </div>
            <div class="row mar height-auto">
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                    <img class=" petsize" src="../../assets/main/chameleon.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <button type="button" class="btn orange" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Reptiles'}"> Reptiles </button>
                </div>
                <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">
                    <img class=" petsize" src="../../assets/main/fish.png" >
                </div>
                <div class="col-6 col-md-4 col-lg-3" >
                    <button type="button" class="btn purple" style="width: 100%; height: 70%;" routerLink="/catalogo" [queryParams]="{departamento:seccion, mascota: 'Peces'}"> Peces </button>
                </div>
            </div>
    
    
        </section>
    </section>
        

