<main class="container">

    <div  [hidden]="mascota !== VIEWSEC.Perros" >
        <header class="portada row yellow ">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Perros" src="../../assets/main/dog.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Perros</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Perros
        </span>
    </div>


    <div [hidden]="mascota !== VIEWSEC.Gatos">
        <header class="portada row green">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="Gatos" src="../../assets/main/cat.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Gatos</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Gatos
        </span>
    </div>
    <div [hidden]="mascota !== VIEWSEC.Mamiferos">
        <header class="portada row red">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="mamíferos" src="../../assets/main/hamster.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Mamíferos</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Mamíferos
        </span>
    </div>
    <div [hidden]="mascota !== VIEWSEC.Aves">
        <header class="portada row blue">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="aves" src="../../assets/main/parrot.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Aves</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Aves
        </span>
    </div>
    <div [hidden]="mascota !== VIEWSEC.Reptiles">
        <header class="portada row orange">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="reptiles" src="../../assets/main/chameleon.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Reptiles</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Reptiles 
        </span>
    </div>
    <div [hidden]="mascota !== VIEWSEC.Peces">
        <header class="portada row purple ">
            <div class="col-5 d-flex flex-row-reverse"><img class="img-fluid" alt="peces" src="../../assets/main/fish.png" alt="" class="imagen"></div>
            <div class="col-7"><h1 class="titulo">Peces</h1></div>
        </header>
        <span> 
            <a routerLinkActive="#"> 
                Home <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;">
            </a> 
            Mascotas <img src="../../assets/sections/next.png" style="width: 0.5rem; height: 0.5rem;"> Peces
        </span>
    </div>


    <section class="container" style="margin-top: 2rem;">
        <section class="row"> 

            <aside class="col-lg-2" style="margin: 0;">
                <div class="row bg-warning" style="height: 20%; border-radius: 0.5rem; margin-right: 1rem;" >
                    <div class="col-12 newtitle"> ¡NEWS! </div>
                </div>
                <div class="row">
                    <div class="contenedor bg-light" style="width: 90%; text-align: center;"  >
                        <p class="bg-dark text-light"  style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-radius: 0.3rem; padding: 0.5rem;"> Nueva línea de productos
                            <img src="../../assets/sections/unnamed.png" style="width: 100%; margin-top: 0.5rem; margin-bottom: 0.5rem;">                                                        
                        
                        </p>
                            <ul>
                            <li><img src="../../assets/vendidos/1.jpg" alt=""></li>
                            <li><img src="../../assets/vendidos/2.jpg" alt=""></li>
                            <li><img src=".../../assets/vendidos/5.jpg" alt=""></li>
                            <li><img src="../../assets/vendidos/4.jpg" alt=""></li>
    
                            </ul>
                        </div>
                    </div>
            </aside>
    
            <section class="col-lg-10">
                    <div class="row bg-dark" style="border-radius: 0.5rem">
                        <div class="col-12 titulo2">Categoría</div>
                    </div>
                    <div class="row bg-light" style="margin-top: 6rem; margin-bottom: 4rem;"> 
                        <div routerLink="/catalogo" [queryParams]="{mascota:mascota, departamento:'Limpieza'}" class="col-6 col-md-4 col-lg-3 catesize">
                            <div class="div-img row margin0 padding0" >
                              <img class="img col-12" src="../../assets/sections/clean.png" >
                              <div  class="text col-12" >Limpieza</div>
                            </div>
                        </div>
    
                        <div routerLink="/catalogo" [queryParams]="{mascota:mascota, departamento:'Comida'}" class="col-6 col-md-4 col-lg-3 catesize">
                            <div class="div-img row margin0 padding0" >
                              <img class="img col-12" src="../../assets/sections/pet-food.png" >
                              <div class="text col-12">Comida</div>
                            </div>
                        </div> 
                        <div routerLink="/catalogo" [queryParams]="{mascota:mascota, departamento:'Juguetes'}" class="col-6 col-md-4 col-lg-3 catesize">
                            <div class="div-img row margin0 padding0" >
                              <img class="img col-12 margin0 padding0" src="../../assets/sections/toys.png" >
                              <div class="text col-12">Juguetes</div>
                            </div>
                        </div>
                        <div routerLink="/catalogo" [queryParams]="{mascota:mascota, departamento:'Accesorios'}" class="col-6 col-md-4 col-lg-3 catesize">
                            <div class="div-img row margin0 padding0" >
                                <img class="img col-12 margin0 padding0" src="../../assets/sections/accesories.png" >
                                <div class="text col-12">Accesorios</div>
                            </div>
                        </div>
                </div>
            </section>
    </section>

    </section>
      
     

    
</main>